@model ooadepazar.Models.Pracenje

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pracenje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PraceniID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PraceniID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PratilacID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PratilacID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
