@model ooadepazar.Models.Narudzba

@{
    ViewData["Title"] = "Potvrdi narudžbu";
    var user = ViewBag.Korisnik as ooadepazar.Models.ApplicationUser;
}

<h2>Potvrdi narudžbu</h2>

<form asp-action="Create" method="post">
    <input type="hidden" name="id" value="@ViewBag.ArtikalId" />

    <div class="form-group">
        <label>Ime</label>
        <input type="text" class="form-control" value="@user?.Ime" readonly />
    </div>

    <div class="form-group">
        <label>Prezime</label>
        <input type="text" class="form-control" value="@user?.Prezime" readonly />
    </div>

    <div class="form-group">
        <label>Broj telefona</label>
        <input type="text" class="form-control" value="@user?.BrojTelefona" readonly />
    </div>

    <div class="form-group">
        <label>Lokacija isporuke</label>
        <input type="text" name="Lokacija" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Potvrdi narudžbu</button>
</form>
